*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.5;
	font-family: 'PT Sans', sans-serif;
}
/* XXXXXXXXXXXXXXX helping classes XXXXXXXXXXXXXXX */
a:link,
a:visited{
	text-decoration: none;
}
ul{
	list-style: none;
	/* text-align: center; */
}
.container{
	margin: 0 auto;
	width: 960px;
}
.row,
.row::after,
.row::before{
	clear:both;
	display:table;
	width: 100%;
}
.text-center{
	text-align: center;
}
div[class^="col"]{
	float: left;
	padding: 0 10px;
}
.col1{
	width:calc(100% * 1 / 12);
}
.col3{
	width:calc(100% * 3 / 12);
}
.col4{
	width:calc(100% * 4 / 12);
}
.col5{
	width:calc(100% * 5 / 12);
}
.col6{
	/* width:cals(100% * 6 /12); */
	width: 50%;
}
.col7{
	width:calc(100% * 7 / 12);
}
.col9{
	width:calc(100% * 9 / 12);
}
.col10{
	width:calc(100% * 10 / 12);
}
.mb-70{
	margin-bottom: 70px;
}
.mb-90{
	margin-bottom: 90px;
}	
.mb-130{
	margin-bottom: 130px;
}	
.pr-col2{
	padding-right: calc(100% * 2/12) !important;
}
.ml-offset-1{
	margin-left: calc(100% * 1 /12);
}
/* ***********header secsion css ************* */
.headers{
	background-color:#fcdb00;
	/* padding: 60px 0 110px 0; */
	padding: 60px 0 110px;
}
.navbar li{
	display: inline-block;
	margin: 0 18px;
}
.navbar li a{
	padding: 0 9px;
	color: #010101;
	font-size: 22px;
	font-weight: bold;
	text-transform: capitalize;
	height: 43px;
	line-height: 43px;
	display: inline-block;
}
.navbar li:first-child{
	margin-left: 0;
}
.navbar li:first-child a{
	padding-left:0;
}
.inspire{
	padding-top: 70px;
}
.heading{
	font-size: 32px;
	font-weight: bold;
	color: #010101;
	margin-bottom: 22px;
}
.subheading{
	font-size: 20px;
	color: #313841;
	margin-bottom: 24px;
}
.para{
	font-size: 16px;
	color: #555555;
	margin-bottom: 43px;
	font-family: 'Roboto', sans-serif;
}

.links li{
	display: inline-block;
	margin-right: 35px;
	float: left;
}
.links a i{
	font-size: 40px;
	color: #000;
}
.ml-col2{
	margin-left:calc(100% * 2 / 12);
}
.text-white{
	color: #fff;
}
/* ========== features css ======== */

.features{
	padding: 120px 0 160px;

}
.thumbimg i{
	font-size: 40px;
}
/* ========== footer css ======== */
.foot{
	background: #010101;
	padding: 95px 0 140px
}
.foot .heading{
	color: #fcdb00; 
}
.foot .para{
	color: #898989;
	margin-bottom: 45px;
}
.intouch{
	padding: 0 40px;
}
.email{
	width: calc(100% - 165px);
	height: 50px;
	padding: 0 25px;
	outline: none;
	border-radius: 5px;
	border: 0;
}
.email::placeholder{
	color: #898989;
	font-size: 16px;
}
.submit{
	width: 125px;
	margin-left: 30px;
	cursor: pointer;
	height: 50px;
	background-color:#fcdb00;
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	color: #010101;
	font-weight: bold;
	border-radius: 5px;
	border: solid 1px #fcdb00;
	transition: all 0.3s;
}
.socialIcon li{
	display: inline-block;
	margin-right: 30px;
}
.submit:hover,
.submit:active,
.submit:focus{
	background-color: #010101;
	color: #fcdb00;
}
.socialIcon{
	text-align: center	
}
.socialIcon li{
	display: inline-block;
	margin-right: 30px;
	font-size: 40px;
}
.socialIcon i{
	color: #fcdb00;
}
.footerlink li, 
.footerlink li a{
	font-size: 16px;
	font-style: regular;
	color: #fff;
	text-align: left;
	text-transform: capitalize;
}